/* Float four columns side by side */
.column {
  float: left;
  width: 25%;
  padding: 0 10px;
}

/* Remove extra left and right margins, due to padding in columns */
.row {
  margin: 0 -5px;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #3a504d;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

body {
  background-image: url("images/background_2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  max-width: 40vw;
}

.green-on-hover:hover {
  color: rgb(75, 214, 172);
}

/*
 *  TO-DO LIST SECTION
 */

#todo-list-content {
  max-height: 40vh;
  overflow-y: auto;
}

#todo-card {
  padding: 0rem 1rem 1rem 1rem;
}

.todo-list-item {
  font-size: 1.5rem !important;
  vertical-align: text-bottom;
  padding-left: 1rem !important;
  width: 85% !important;
}

.todo-list-row:hover {
  background-color: rgb(255, 249, 241);
  cursor: pointer;
}

.todo-list-checkbox {
  margin-right: 2rem !important;
  position: relative !important;
  bottom: 0.5rem !important;
}

.todo-list-checkbox-completed {
  margin-right: 2rem !important;
}

#todo-list-add-icon {
  margin-left: 2rem;
  position: relative;
  bottom: 0.5rem;
  cursor: pointer;
  font-size: 2.5rem;
}

#todo-list-add-text {
  cursor: text;
  margin-top: 3rem;
  max-width: 80%;
}

#todo-list-add-form {
  margin-left: 1.5rem;
}

#todo-list-content {
  padding: 1rem;
}

/*
 *  WEATHER SECTION
 */

#weather_area {
  position: fixed;
  top: 5px;
  left: 15px;
  font-size: 1.1rem;
  font-weight: 200;
  cursor: default;
}

#weather_area p {
  margin: 0.1rem;
}

#weather_location {
  font-weight: 400;
}

#current_temp {
  font-size: 2rem;
  font-weight: 200;
  line-height: 2.5rem;
}

/*
 *  SETTINGS
 */

#settings_area {
  position: fixed;
  top: 2%;
  right: 2%;
}

#settings-icon {
  font-size: 2rem;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 5rem;
  width: 3rem;
  height: 3rem;
  text-align: center;
  padding-top: 0.5rem;
  cursor: pointer;
}

#settings-icon:hover {
  background-color: rgba(255, 255, 255, 0.8);
}

#settings-dropdown {
  width: 25vw;
  padding: 1rem;
}

#settings-buttons {
  margin-top: 1rem;
}

.settings-btn {
  color: white;
  width: 100%;
}

.input-field {
  width: 100%;
}
