body {
  background-image: url("images/background_2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#todo-list-content {
  max-height: 40vh;
  overflow-y: auto;
}

.container {
  max-width: 45vw;
}

#todo-card {
  padding: 0rem 1rem 1rem 1rem;
}

.todo-list-item {
  font-size: 1.5rem !important;
  vertical-align: text-bottom;
  padding-left: 1rem !important;
  width: 85% !important;
}

.todo-list-row {
  /* padding: 0 2rem 0 2rem !important; */
}

.todo-list-row:hover {
  background-color: rgb(255, 249, 241);
  cursor: pointer;
}

.todo-list-checkbox {
  margin-right: 2rem !important;
  position: relative !important;
  bottom: 0.5rem !important;
}

.todo-list-checkbox-completed {
  margin-right: 2rem !important;
}

#todo-list-add-icon {
  margin-left: 2rem;
  position: relative;
  bottom: 0.5rem;
  cursor: pointer;
  font-size: 2.5rem;
}

#todo-list-add-text {
  cursor: text;
  margin-top: 3rem;
  max-width: 90%;
}

#todo-list-add-form {
  margin-left: 1.5rem;
}

.green-on-hover:hover {
  color: rgb(75, 214, 172);
}

#todo-list-content {
  padding: 1rem;
}
