body {
  background-image: url("images/background_2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  max-width: 40vw;
}

.green-on-hover:hover {
  color: rgb(75, 214, 172);
}

/*
 *  TO-DO LIST SECTION
 */

#todo-list-content {
  max-height: 40vh;
  overflow-y: auto;
}

#todo-card {
  padding: 0rem 1rem 1rem 1rem;
}

.todo-list-item {
  font-size: 1.5rem !important;
  vertical-align: text-bottom;
  padding-left: 1rem !important;
  width: 85% !important;
}

.todo-list-row:hover {
  background-color: rgb(255, 249, 241);
  cursor: pointer;
}

.todo-list-checkbox {
  margin-right: 2rem !important;
  position: relative !important;
  bottom: 0.5rem !important;
}

.todo-list-checkbox-completed {
  margin-right: 2rem !important;
}

#todo-list-add-icon {
  margin-left: 2rem;
  position: relative;
  bottom: 0.5rem;
  cursor: pointer;
  font-size: 2.5rem;
}

#todo-list-add-text {
  cursor: text;
  margin-top: 3rem;
  max-width: 80%;
}

#todo-list-add-form {
  margin-left: 1.5rem;
}

#todo-list-content {
  padding: 1rem;
}

/*
 *  WEATHER SECTION
 */

#weather_area {
  position: fixed;
  top: 5px;
  left: 15px;
  font-size: 1.1rem;
  font-weight: 200;
  cursor: default;
}

#weather_area p {
  margin: 0.1rem;
}

#weather_location {
  font-weight: 400;
}

#current_temp {
  font-size: 2rem;
  font-weight: 200;
  line-height: 2.5rem;
}
